.pagination{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background: rgba(200, 200, 200,0.5);
    width:41em ;
}
.pagination a {
    text-decoration: none;
    margin: 2px;
    color: black;
    border-radius: 4px;
    padding: 8px 12px;
}
.one{
   background-color: rgb(83, 205, 83); 


}
